version: 2
updates:
  - package-ecosystem: maven
    directory: "/build"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    cooldown:
      default-days: 7
      exclude:
        - "no.nav.*"

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    cooldown:
      default-days: 7
