### Trenger du mer informasjon?
{{#eq felles/hovedytelse "PLEIEPENGER_SYKT_BARN"}}
Du finner mer informasjon på {{> felles/mer_info_link}}. Hvis du ikke finner svar på spørsmålet ditt, kan du kontakte oss på telefon {{felles.behandlendeEnhet.tlf}} eller på [nav.no/skriv‐til‐oss](https://nav.no/skriv-til-oss).
{{else}}
Du finner mer informasjon på {{> felles/mer_info_link}}.

På [nav.no/kontakt](https://nav.no/kontakt) kan du chatte eller skrive til oss.

Hvis du ikke finner svar på nav.no kan du ringe oss på telefon {{felles.behandlendeEnhet.tlf}}, hverdager 09.00-15.00.
{{/eq}}






<p>
<br/>
Med vennlig hilsen
<br/>
{{felles.behandlendeEnhet.navn}}
</p>