### Trenger du mer informasjon?
Du finner informasjon som kan være nyttig for deg på {{> klage/bruker/felles/mer_info_link}}. Du kan også kontakte oss på telefon
{{#if klageinstans}}21 07 17 30{{else}}55 55 33 33{{/if}}.

<p>
<br/>
Med vennlig hilsen
<br/>
{{#if klageinstans}}NAV Klageinstans{{else}}NAV Arbeid og ytelser{{/if}}
</p>