### Har dere spørsmål?
Dere finner nyttig informasjon på [nav.no/omsorgspenger](https://nav.no/omsorgspenger). Dere kan også kontakte oss på telefon
{{#if klageinstans}}21071730{{else}}55553336{{/if}}.

<p>
<br/>
Med vennlig hilsen
<br/>
{{#if klageinstans}}NAV Klageinstans{{else}}NAV Arbeid og ytelser{{/if}}
</p>