### Har dere spørsmål?
Dere finner mer informasjon på [nav.no/arbeidsgiver](https://nav.no/arbeidsgiver).

På [nav.no/kontakt](https://nav.no/kontakt) kan dere chatte med oss.

Dere kan også ringe oss på telefon {{#if klageinstans}}21 07 17 30{{else}}55 55 33 36{{/if}}, hverdager 09.00-15.00.

<p>
<br/>
Med vennlig hilsen
<br/>
{{#if klageinstans}}NAV Klageinstans{{else}}NAV Arbeid og ytelser{{/if}}
</p>